<div class="navbar bg-black text-primary-content w-full">
    <div class="w-11/12 m-auto flex items-center justify-between" >
        <img src="/public/logo.svg" alt="">

        <div class="flex items-center gap-6 text-white">
          <span class=" ">
            <a href="" class=" hover:p-2 rounded-xl hover:bg-red-700 " >INICIO</a>
          </span>
           <span>
            <a href="" class=" hover:p-2 rounded-xl hover:bg-red-700 ">SERVISIOS</a>
          </span>
           <span>
            <a href=""class=" hover:p-2 rounded-xl hover:bg-red-700 " >PROYECTOS</a>
          </span>
           <span>
            <a href="" class=" hover:p-2 rounded-xl hover:bg-red-700 ">CONTACTOS</a>
          </span>
        </div>
    </div>
</div>

<section class="w-full">
  .

</section>