<div class="navbar bg-white text-primary-content w-full">
    <div class="w-11/12 m-auto flex items-center justify-between" >

        <img class="w-48" src="/public/logo.svg" alt="">

        <div class="flex items-center">
          <div class=" items-center font-bold gap-6 text-black hidden md:flex  ">
            <span class=" ">
              <a href="" class=" font-bold p-2 rounded-xl bg-red-700 text-white  " >INICIO</a>
            </span>
            <span>
              <a href="" class=" hover:p-2 rounded-xl hover:bg-red-700 hover:text-white">NOSOTROS</a>
            </span>
             <span>
              <a href="" class=" hover:p-2 rounded-xl hover:bg-red-700 hover:text-white">SERVISIOS</a>
            </span>
             <span>
              <a href=""class=" hover:p-2 rounded-xl hover:bg-red-700 hover:text-white" >PROYECTOS</a>
            </span>
             <span>
              <a href="" class=" hover:p-2 rounded-xl hover:bg-red-700  hover:text-white">CONTACTOS</a>
            </span>
          </div>
          <div class="text-4xl">
            <samp  class="md:hidden">
              <a href="">

                <i class='  bx bx-menu  text-black' ></i>
              </a>
            </samp>
          </div>
        </div>
    </div>
</div>

<section class="w-full ">
  .

</section>