<div class="navbar bg-white text-primary-content w-full">
  <div class="w-11/12 m-auto flex items-center justify-between">
    <img class="w-48" src="/public/logo.svg" alt="" />

    <div class="flex items-center">
      <div class="items-center font-bold gap-6 text-black hidden md:flex">
        <span class="">
          <a href="" class="font-bold p-2 rounded-xl bg-red-700 text-white"
            >INICIO</a
          >
        </span>
        <span>
          <a
            href=""
            class="hover:p-2 rounded-xl hover:bg-red-700 hover:text-white"
            >NOSOTROS</a
          >
        </span>
        <span>
          <a
            href=""
            class="hover:p-2 rounded-xl hover:bg-red-700 hover:text-white"
            >SERVICIOS</a
          >
        </span>
        <span>
          <a
            href=""
            class="hover:p-2 rounded-xl hover:bg-red-700 hover:text-white"
            >PROYECTOS</a
          >
        </span>
        <span>
          <a
            href=""
            class="hover:p-2 rounded-xl hover:bg-red-700 hover:text-white"
            >CONTACTOS</a
          >
        </span>
      </div>
      <div class="text-4xl">
        <samp class="md:hidden">
          <a href="">
            <i class="bx bx-menu text-black"></i>
          </a>
        </samp>
      </div>
    </div>
  </div>
</div>

<div class="hero min-h-screen" style="background-image: url(/public/imgheader.png);">
  <div class="hero-overlay bg-opacity-65"></div>
  <div class="hero-content flex justify-center text-center text-neutral-content">
    <div class="max-w-md ">
      <h1 class=" font-bold text-5xl text-white my-6 border-y-4  p-4   ">Bienvenidos a Torch Dev</h1>
      <p class="mb-5 text-white ">Agencia de  Diceño y desarollo web.</p>
      <button class="btn bg-red-700 border-none text-white  hover:bg-white hover:text-black hover:m-1 hover:border-red-700">Get Started <i class='bx bx-chat'></i></button>
       <button class="btn bg-white border-none text-black  hover:bg-red-700 hover:text-white hover:m-1 hover:border-red-700">Get Started </button>
    </div>
  </div>
</div>