---
import Header from "./Header.astro";
import Nosotros from "./Nosotros.astro";
import Servicios from "./Servicios.astro";
import Proyectos from "./Proyectos.astro";
import Testimonios from "./Testimonios.astro";
import Planes from "./Planes.astro";
import Footer from "./Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Torch Dev es
      una agencia de desarrollo de software que se especializa en la creación de aplicaciones web, especializada en tecnologías modernas como React, Node.js, MongoDB, entre otras."
    />
    <meta
      name="keywords"
      content="Agencia de desarrollo de software, Bolivia, startups, ui/ux, Marketing digital, creacion de contenidos  , desarrollo de software, aplicaciones web, React, Node.js, MongoDB"
    />
    <meta name="author" content="Torch Dev" />

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="/iconSmall.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Torch Dev</title>
  </head>
  <body>
    <main class="scroll-smooth">
      <Header />
      <Nosotros />
      <Servicios />
      <Proyectos />
      <Testimonios />
      <Planes />
      <Footer />
    </main>
  </body>
</html>
