---
import Header from "./Header.astro";
import Cards from "./Cards.astro";
import Nosotros from "./Nosotros.astro";
import Footer from "./Footer.astro";

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/svg+xml" href="/iconSmall.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Torch Dev</title>
  </head>
  <body>
    <main >
    <Header />
    <Nosotros />
    <Cards />
    <Footer />
    </main>
  </body>
</html>
