<section class="w-full py-8 bg-white" >
  <div class="w-11/12  m-auto  flex flex-col items-center">
    <div class="">
      <h2 class="text-4xl text-red-700 p-6  font-bold border-b-4 border-red-700 my-8 text-center">Acerca de Nosotros</h2>
    </div>
    <div class="flex flex-col justify-around items-center my-6 md:flex-row md:py-10  ">
      <div class=" w-full py-6 md:w-5/12">
        <img src="/public//nosotros.svg" alt="" class="w-full" >
      </div>
      <div class="w-full  text-gray-800 md:w-5/12 ">
        <div class="p-4 shadow-lg rounded-3xl" >
          <p class=" text-xl py-6"> <i class='bg-gradient-to-t from-red-700 via-amber-400 to-yellow-200 bx bxs-hot  w-9 h-9  text-white  me-3 pt-2 rounded-full text-center '></i>Torch Dev somos un equipo apasionado por el diseño y desarrollo web, con  años de experiencia creando experiencias digitales únicas para nuestros clientes.</p>
        </div>
        <div class="p-4 shadow-lg rounded-3xl">

          <p class="text-xl   py-6"> <i class='bg-gradient-to-t from-red-700 via-amber-400 to-yellow-200 bx bx-male-female  w-9 h-9  text-white  me-3 pt-2 rounded-full text-center '></i> Nuestra misión es ayudar a las empresas a alcanzar sus objetivos de negocio a través de sitios web innovadores, funcionales y atractivos.</p>
        </div>
        <div class="p-4 shadow-lg rounded-3xl">

          <p class="text-xl  py-6"><i class='bx bxs-paint-roll bg-gradient-to-t from-red-700 via-amber-400 to-yellow-200 w-9 h-9  text-white  me-3 pt-2 rounded-full text-center'></i> Creemos en el poder del diseño para comunicar de manera efectiva, conectar con el público objetivo y generar resultados tangibles.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="w-full py-8 bg-white md:py-10 ">
 <div class="w-11/12  m-auto">
    <div class=" flex flex-col items-center">
      <h2 class="text-4xl text-red-700 p-6  font-bold border-b-4 border-red-700 my-8 text-center">Nuestros servicios </h2>
    </div>

    <div class="py-6  flex flex-col gap-8 sm:flex-row  "> 
      <div class="hero  w-full h-72  rounded-2xl shadow-2xl shadow-slate-900"  style="background-image: url(/public/diceno2.jpg);">
        <div class="hero-overlay bg-opacity-65 rounded-2xl "></div>  
        <div class="flex flex-col items-center justify-around w-full h-full p-7 ">

          <h3 class="text-3xl text-white font-semibold text-center"> <span class="text-teal-300">Diseño</span> web</h3>
          <p class="text-2xl text-center text-white ">Realizamos sitios web dinamicos trabajando juntamente con el cliente </p>
        </div>
      </div>    
      //
     <div class="hero  w-full h-72  rounded-2xl shadow-2xl shadow-slate-900"  style="background-image: url(/public/creacion2.jpg);">
        <div class="hero-overlay bg-opacity-65 rounded-2xl "></div>  
        <div class="flex flex-col items-center justify-around w-full h-full p-7 ">

          <h3 class="text-3xl text-white font-semibold text-center"> <span class="text-teal-300">Creación</span>  de contenido</h3>
          <p class="text-2xl text-center text-white ">Realizamos sitios web dinamicos
trabajando juntamente con el cliente  </p>
        </div>
      </div>    
      //
        <div class="hero  w-full h-72  rounded-2xl shadow-2xl shadow-slate-900"  style="background-image: url(/public/desarollo1.jpg);">
        <div class="hero-overlay bg-opacity-65 rounded-2xl "></div>  
        <div class="flex flex-col items-center justify-around w-full h-full p-7 ">

          <h3 class="text-3xl text-white font-semibold text-center"><span class="text-teal-300">Desarrollo</span> web</h3>
          <p class="text-2xl text-center text-white ">Realizamos sitios web dinamicos
trabajando juntamente con el cliente  </p>
        </div>
      </div>    


    </div>
 
</div>
 </div>
</section>

<section>
  
</section>



