<section class="w-full py-8 bg-white">
  <div class="max-w-screen-2xl w-11/12 m-auto flex flex-col items-center">
    <div class="">
      <h2
        class="text-4xl text-red-700 p-6 font-bold border-b-4 border-red-700 my-8 text-center"
      >
        Acerca de Nosotros
      </h2>
    </div>
    <div
      class="flex flex-col justify-around items-center my-6 md:flex-row md:py-10"
    >
      <div class="w-full py-6 md:w-5/12">
        <img src="/public//nosotros.svg" alt="" class="w-full" />
      </div>
      <div class="w-full text-gray-800 md:w-5/12">
        <div class="p-4 shadow-lg rounded-3xl">
          <p class="text-xl py-6">
            <i
              class="bg-gradient-to-t from-red-700 via-amber-400 to-yellow-200 bx bxs-hot w-9 h-9 text-white me-3 pt-2 rounded-full text-center"
            ></i>Torch Dev somos un equipo apasionado por el diseño y desarrollo
            web, con años de experiencia creando experiencias digitales únicas
            para nuestros clientes.
          </p>
        </div>
        <div class="p-4 shadow-lg rounded-3xl">
          <p class="text-xl py-6">
            <i
              class="bg-gradient-to-t from-red-700 via-amber-400 to-yellow-200 bx bx-male-female w-9 h-9 text-white me-3 pt-2 rounded-full text-center"
            ></i> Nuestra misión es ayudar a las empresas a alcanzar sus objetivos
            de negocio a través de sitios web innovadores, funcionales y atractivos.
          </p>
        </div>
        <div class="p-4 shadow-lg rounded-3xl">
          <p class="text-xl py-6">
            <i
              class="bx bxs-paint-roll bg-gradient-to-t from-red-700 via-amber-400 to-yellow-200 w-9 h-9 text-white me-3 pt-2 rounded-full text-center"
            ></i> Creemos en el poder del diseño para comunicar de manera efectiva,
            conectar con el público objetivo y generar resultados tangibles.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="w-full py-8 bg-white md:py-10">
  <div class="max-w-screen-2xl w-11/12 m-auto">
    <div class="flex flex-col items-center">
      <h2
        class="text-4xl text-red-700 p-6 font-bold border-b-4 border-red-700 my-8 text-center"
      >
        Nuestros servicios
      </h2>
    </div>

    <div class="py-6 flex flex-col gap-8 sm:flex-row">
      <div
        class="hero w-full h-72 rounded-2xl shadow-2xl shadow-slate-900"
        style="background-image: url(/public/diceno2.jpg);"
      >
        <div class="hero-overlay bg-opacity-65 rounded-2xl"></div>
        <div
          class="flex flex-col items-center justify-around w-full h-full p-7"
        >
          <h3 class="text-3xl text-white font-semibold text-center">
            <span class="text-teal-300">Diseño</span> web
          </h3>
          <p class="md:text-2xl text-center text-white">
            Realizamos sitios web dinamicos trabajando juntamente con el cliente
          </p>
        </div>
      </div>

      <div
        class="hero w-full h-72 rounded-2xl shadow-2xl shadow-slate-900"
        style="background-image: url(/public/creacion2.jpg);"
      >
        <div class="hero-overlay bg-opacity-65 rounded-2xl"></div>
        <div
          class="flex flex-col items-center justify-around w-full h-full p-7"
        >
          <h3 class="text-3xl text-white font-semibold text-center">
            <span class="text-teal-300">Creación</span> de contenido
          </h3>
          <p class="md:text-2xl text-center text-white">
            Realizamos sitios web dinamicos trabajando juntamente con el cliente
          </p>
        </div>
      </div>

      <div
        class="hero w-full h-72 rounded-2xl shadow-2xl shadow-slate-900"
        style="background-image: url(/public/desarollo1.jpg);"
      >
        <div class="hero-overlay bg-opacity-65 rounded-2xl"></div>
        <div
          class="flex flex-col items-center justify-around w-full h-full p-7"
        >
          <h3 class="text-3xl text-white font-semibold text-center">
            <span class="text-teal-300">Desarrollo</span> web
          </h3>
          <p class="md:text-2xl text-center text-white">
            Realizamos sitios web dinamicos trabajando juntamente con el cliente
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--ASD -->
<section class="hero" style="background-image: url(/public/Proyectos.png);">
  <div class="hero-overlay bg-opacity-65"></div>
  <div class="max-w-screen-2xl w-full py-8">
    <div class="w-11/12 m-auto">
      <div class="flex flex-col items-center">
        <h2
          class="text-4xl text-white p-6 font-bold border-4 border-white my-8 text-center"
        >
          Nuestros Proyectos
        </h2>
      </div>

      <!-- -->
      <div class="w-full py-6 sm:flex sm:gap-3 sm:flex-wrap sm:justify-evenly">
        <div
          class="hero w-full h-56 my-5 rounded-2xl md:w-5/12"
          style="background-image: url(/public/desarollo1.jpg);"
        >
          <div class="hero-overlay bg-opacity-40 rounded-2xl"></div>
          <div
            class="flex flex-col items-center justify-around w-full h-full p-3"
          >
            <h3 class="text-3xl font-bold text-orange-500">
              Nuestros Proyectos
            </h3>
            <p class="md:text-xl font-semibold text-center text-white">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
              corporis saepe,
            </p>
            <a
              href="#"
              class="bg-teal-400
              text-white font-semibold
              py-2 px-3
               rounded-2xl
              hover:bg-teal-600"
            >
              Ver Proyectos</a
            >
          </div>
        </div>
        <div
          class="hero w-full h-56 my-5 rounded-2xl md:w-5/12"
          style="background-image: url(/public/desarollo1.jpg);"
        >
          <div class="hero-overlay bg-opacity-40 rounded-2xl"></div>
          <div
            class="flex flex-col items-center justify-around w-full h-full p-3"
          >
            <h3 class="text-3xl font-bold text-orange-500">
              Nuestros Proyectos
            </h3>
            <p class="md:text-xl font-semibold text-center text-white">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
              corporis saepe,
            </p>
            <a
              href="#"
              class="bg-teal-400
              text-white font-semibold
              py-2 px-3
               rounded-2xl
              hover:bg-teal-600"
            >
              Ver Proyectos</a
            >
          </div>
        </div>
        <div
          class="hero w-full h-56 my-5 rounded-2xl md:w-5/12"
          style="background-image: url(/public/desarollo1.jpg);"
        >
          <div class="hero-overlay bg-opacity-40 rounded-2xl"></div>
          <div
            class="flex flex-col items-center justify-around w-full h-full p-3"
          >
            <h3 class="text-3xl font-bold text-orange-500">
              Nuestros Proyectos
            </h3>
            <p class="md:text-xl font-semibold text-center text-white">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
              corporis saepe,
            </p>
            <a
              href="#"
              class="bg-teal-400
              text-white font-semibold
              py-2 px-3
               rounded-2xl
              hover:bg-teal-600"
            >
              Ver Proyectos</a
            >
          </div>
        </div>
        <div
          class="hero w-full h-56 my-5 rounded-2xl md:w-5/12"
          style="background-image: url(/public/desarollo1.jpg);"
        >
          <div class="hero-overlay bg-opacity-40 rounded-2xl"></div>
          <div
            class="flex flex-col items-center justify-around w-full h-full p-3"
          >
            <h3 class="text-3xl font-bold text-orange-500">
              Nuestros Proyectos
            </h3>
            <p class="md:text-xl font-semibold text-center text-white">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
              corporis saepe,
            </p>
            <a
              href="#"
              class="bg-teal-400
              text-white font-semibold
              py-2 px-3
               rounded-2xl
              hover:bg-teal-600"
            >
              Ver Proyectos</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="w-full py-8 bg-white md:py-10">
  <div class="max-w-screen-2xl w-11/12 m-auto">
    <div class="flex flex-col items-center">
      <h2
        class="text-4xl text-red-700 p-6 font-bold border-b-4 border-red-700 my-8 text-center"
      >
        Testimonios
      </h2>
    </div>

    <div class="w-full py-6 sm:flex sm:gap-8">
      <div
        class="w-full p-3 border-2 rounded-3xl border-red-700 text-red-700 hover:text-teal-300 my-3 hover:border-teal-400 sm:w-2/6"
      >
        <div class="text-black text-center my-3">
          <p>
            This is a template Figma file, turned into code using Anima. Learn
            more at AnimaApp.com
          </p>
        </div>
        <div class="flex items-center justify-around">
          <div class="py-3">
            <img
              src="/public/Proyectos.png"
              class="w-24 h-24 rounded-full"
              alt=""
            />
          </div>
          <div class="">
            <p class="">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star-half"></i>
            </p>
            <p>Gemma Nolen</p>
          </div>
        </div>
      </div>

      <div
        class="w-full p-3 border-2 rounded-3xl border-red-700 text-red-700 hover:text-teal-300 my-3 hover:border-teal-400 sm:w-2/6"
      >
        <div class="text-black text-center my-3">
          <p>
            This is a template Figma file, turned into code using Anima. Learn
            more at AnimaApp.com
          </p>
        </div>
        <div class="flex items-center justify-around">
          <div class="py-3">
            <img
              src="/public/Proyectos.png"
              class="w-24 h-24 rounded-full"
              alt=""
            />
          </div>
          <div class="">
            <p class="">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star-half"></i>
            </p>
            <p>Gemma Nolen</p>
          </div>
        </div>
      </div>

      <div
        class="w-full p-3 border-2 rounded-3xl border-red-700 text-red-700 hover:text-teal-300 my-3 hover:border-teal-400 sm:w-2/6"
      >
        <div class="text-black text-center my-3">
          <p>
            This is a template Figma file, turned into code using Anima. Learn
            more at AnimaApp.com
          </p>
        </div>
        <div class="flex items-center justify-around">
          <div class="py-3">
            <img
              src="/public/Proyectos.png"
              class="w-24 h-24 rounded-full"
              alt=""
            />
          </div>
          <div class="">
            <p class="">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star-half"></i>
            </p>
            <p>Gemma Nolen</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full pb-6 sm:flex sm:gap-8">
      <div
        class="w-full p-3 border-2 rounded-3xl border-red-700 text-red-700 hover:text-teal-300 my-3 hover:border-teal-400 sm:w-2/6"
      >
        <div class="text-black text-center my-3">
          <p>
            This is a template Figma file, turned into code using Anima. Learn
            more at AnimaApp.com
          </p>
        </div>
        <div class="flex items-center justify-around">
          <div class="py-3">
            <img
              src="/public/Proyectos.png"
              class="w-24 h-24 rounded-full"
              alt=""
            />
          </div>
          <div class="">
            <p class="">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star-half"></i>
            </p>
            <p>Gemma Nolen</p>
          </div>
        </div>
      </div>

      <div
        class="w-full p-3 border-2 rounded-3xl border-red-700 text-red-700 hover:text-teal-300 my-3 hover:border-teal-400 sm:w-2/6"
      >
        <div class="text-black text-center my-3">
          <p>
            This is a template Figma file, turned into code using Anima. Learn
            more at AnimaApp.com
          </p>
        </div>
        <div class="flex items-center justify-around">
          <div class="py-3">
            <img
              src="/public/Proyectos.png"
              class="w-24 h-24 rounded-full"
              alt=""
            />
          </div>
          <div class="">
            <p class="">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star-half"></i>
            </p>
            <p>Gemma Nolen</p>
          </div>
        </div>
      </div>

      <div
        class="w-full p-3 border-2 rounded-3xl border-red-700 text-red-700 hover:text-teal-300 my-3 hover:border-teal-400 sm:w-2/6"
      >
        <div class="text-black text-center my-3">
          <p>
            This is a template Figma file, turned into code using Anima. Learn
            more at AnimaApp.com
          </p>
        </div>
        <div class="flex items-center justify-around">
          <div class="py-3">
            <img
              src="/public/Proyectos.png"
              class="w-24 h-24 rounded-full"
              alt=""
            />
          </div>
          <div class="">
            <p class="">
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i>
              <i class="bx bxs-star-half"></i>
            </p>
            <p>Gemma Nolen</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero" style="background-image: url(/public/coreoIMG.jpg);">
  <div class="hero-overlay bg-opacity-40"></div>
  <div class="max-w-screen-2xl w-full py-8">
    <div class="w-11/12 m-auto">
      <div class="flex flex-col items-center">
        <h2
          class="text-4xl text-white p-6 font-bold border-4 border-white my-8 text-center"
        >
          Contáctanos
        </h2>
      </div>

      <!-- -->
      <div class="flex flex-col sm:flex-row sm:justify-around sm:items-center">
        <div class="py-5 w-full sm:w-5/12">
          <img src="/public/email.svg" alt="" />
        </div>
        <div class="w-full py-5 text-white sm:w-5/12 sm:py-0">
          <h3 class="text-center text-3xl font-semibold my-4">Mensaje</h3>
          <form
            action=""
            class="flex flex-col border-teal-300 border-4 rounded-xl p-4 gap-3"
          >
            <input
              type="text"
              placeholder="Nombre"
              class="placeholder-teal-300 py-2 px-2 rounded-xl border-2 border-teal-300"
            />
            <input
              type="text"
              placeholder="Servicios"
              class="placeholder-teal-300 py-2 px-2 rounded-xl border-2 border-teal-300"
            />
            <input
              type="email"
              placeholder="Email"
              class="placeholder-teal-300 py-2 px-2 rounded-xl border-2 border-teal-300"
            />
            <textarea
              name=""
              id=""
              cols="30"
              rows="10"
              class="py-2 px-2 rounded-xl border-2 border-teal-300"></textarea>
            <button
              class="text-xl rounded-3xl font-bold text-center flex items-center justify-center mx-14 bg-teal-300 text-white py-2 hover:bg-teal-500"
              >Enviar <i class="bx bxs-envelope px-2"></i></button
            >
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
