<section class="w-full py-16 bg-white" >
  <div class="w-11/12  m-auto  flex flex-col items-center">
    <div class="">
      <h2 class="text-4xl text-red-700 p-10  font-bold border-b-8 border-red-700 my-11 text-center">Acerca de Nosotros</h2>
    </div>
    <div class="flex justify-between  ">
      <div class=" w-[493px]">
        <img src="/public//nosotros.svg" alt="" >
      </div>
      <div class=" w-[552px]">
      <p>Torch Dev somos un equipo apasionado por el diseño y desarrollo web, con  años de experiencia creando experiencias digitales únicas para nuestros clientes.</p>
      <p>Nuestra misión es ayudar a las empresas a alcanzar sus objetivos de negocio a través de sitios web innovadores, funcionales y atractivos.</p>
      <p>Creemos en el poder del diseño para comunicar de manera efectiva, conectar con el público objetivo y generar resultados tangibles.</p>
      </div>
    </div>
  </div>
</section>