<section class="w-full py-16 bg-white" >
  <div class="w-11/12  m-auto  flex flex-col items-center">
    <div class="">
      <h2 class="text-4xl text-red-700 p-10  font-bold border-b-8 border-red-700 my-11 text-center">Acerca de Nosotros</h2>
    </div>
    <div class="flex justify-around items-center p-10  my-11  ">
      <div class=" w-2/5 ">
        <img src="/public//nosotros.svg" alt="" class="w-full" >
      </div>
      <div class="w-2/5  text-gray-800 ">
        <p class="text-xl  py-6">Nuestra misión es ayudar a las empresas a alcanzar sus objetivos de negocio a través de sitios web innovadores, funcionales y atractivos.</p>
        <p class="text-xl py-6">Torch Dev somos un equipo apasionado por el diseño y desarrollo web, con  años de experiencia creando experiencias digitales únicas para nuestros clientes.</p>
        <p class="text-xl py-6">Creemos en el poder del diseño para comunicar de manera efectiva, conectar con el público objetivo y generar resultados tangibles.</p>
      </div>
    </div>
  </div>
</section>