<section
  id="Proyectos"
  class="hero"
  style="background-image: url(/public/Proyectos.png);"
>
  <div class="hero-overlay bg-opacity-65"></div>
  <div class="max-w-screen-2xl w-full py-8">
    <div class="w-11/12 m-auto">
      <div class="flex flex-col items-center">
        <h2
          class="text-3xl text-white p-6 font-bold border-4 border-white my-8 text-center"
        >
          Nuestros Proyectos
        </h2>
      </div>

      <!-- -->

      <div class="grid sm:grid-cols-3 gap-4 sm:gap-5 py-8">
        <a
          href=" https://ciintur.ingsis-ea.com/"
          class="group relative block bg-black rounded-lg"
          target="_blank"
        >
          <img
            alt=""
            src="/public/Cintur.png"
            class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
          />

          <div class="relative p-4 sm:p-6 lg:p-8">
            <p class="text-xl font-bold text-white sm:text-2xl text-center">
              Cintur
            </p>

            <div class="mt-32 sm:mt-48 lg:mt-64">
              <div
                class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
              >
                <p class="text-sm text-white text">
                  Centro de Investigación, Innovación y Transformación Digital
                  en Turismo
                </p>
              </div>
            </div>
          </div>
        </a>

        <a
          href="https://comarcagroup.com/"
          class="group relative block bg-black rounded-lg"
          target="_blank"
        >
          <img
            alt=""
            src="/public/Comarca.png"
            class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
          />

          <div class="relative p-4 sm:p-6 lg:p-8">
            <p class="text-xl font-bold text-white sm:text-2xl text-center">
              Co Marca
            </p>

            <div class="mt-32 sm:mt-48 lg:mt-64">
              <div
                class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
              >
                <p class="text-sm text-white text">
                  con todos los recursos necesarios desde una imagen
                  empresarial, un espacio de trabajo profesional, hasta
                  servicios digitales corporativos, reduciendo los altos índices
                  de fracaso en etapa temprana muy característico del sector.
                </p>
              </div>
            </div>
          </div>
        </a>

        <a
          href="https://clubsaavedra.com/"
          class="group relative block bg-black rounded-lg"
          target="_blank"
        >
          <img
            alt=""
            src="/public/ClubS.png"
            class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
          />

          <div class="relative p-4 sm:p-6 lg:p-8">
            <p class="text-xl font-bold text-white sm:text-2xl text-center">
              Club Saavedra
            </p>

            <div class="mt-32 sm:mt-48 lg:mt-64">
              <div
                class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
              >
                <p class="text-sm text-white text">Proximamente</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
