<section id="servicios" class="w-full py-8 bg-white md:py-10">
  <div class="max-w-screen-2xl w-11/12 m-auto">
    <div class="flex flex-col items-center">
      <h2
        class="text-3xl text-red-700 p-6 font-bold border-b-4 border-red-700 my-8 text-center"
      >
        Nuestros servicios
      </h2>
    </div>

    <div class="py-6 flex flex-col gap-7 sm:flex-row">
      <div
        class="hero w-full h-64 rounded-xl shadow-2xl shadow-slate-900"
        style="background-image: url(/public/diceno2.jpg);"
      >
        <div class="hero-overlay bg-opacity-50 rounded-2xl"></div>
        <div
          class="flex flex-col items-center justify-around w-full h-full p-4 sm:p-7"
        >
          <h3 class="text-3xl text-white font-bold text-center sm:text-2xl">
            <span class="text-teal-300">Diseño</span> web
          </h3>
          <p class="text-lg text-center text-white font-semibold">
            Ofrezco diseño web profesional que atrae y conecta con tu audiencia.
            ¡Haz que te elijan y eleva tu presencia online!
          </p>
        </div>
      </div>

      <div
        class="hero w-full h-64 rounded-xl shadow-2xl shadow-slate-900"
        style="background-image: url(/public/creacion2.jpg);"
      >
        <div class="hero-overlay bg-opacity-50 rounded-2xl"></div>
        <div
          class="flex flex-col items-center justify-around w-full h-full p-4 sm:p-7"
        >
          <h3 class="text-3xl text-white font-bold text-center sm:text-2xl">
            <span class="text-teal-300">Creación</span> de contenido
          </h3>
          <p class="text-lg text-center font-semibold text-white">
            Ofrezco contenido viral y conexión auténtica con tu audiencia. ¡Haz
            que te sigan y eleva tu presencia digital!
          </p>
        </div>
      </div>

      <div
        class="hero w-full h-64 rounded-2xl shadow-2xl shadow-slate-900"
        style="background-image: url(/public/desarollo1.jpg);"
      >
        <div class="hero-overlay bg-opacity-50 rounded-2xl"></div>
        <div
          class="flex flex-col items-center justify-around w-full h-full p-4 sm:p-7"
        >
          <h3 class="text-3xl text-white font-bold text-center sm:text-2xl">
            <span class="text-teal-300">Desarrollo</span> web
          </h3>
          <p class="text-lg text-center font-semibold text-white">
            Ofrezco desarrollo web profesional que optimiza y conecta con tu
            audiencia
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
